# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv/
env/
venv/
ENV/
node_modules/

# Jupyter
.ipynb_checkpoints

# Datasets & Logs
Dataset/
raw_data/
logs/
outputs/
*.csv

# Models (GitHub has a 100MB file limit! We shouldn't push the actual weight files)
models/*.pth
models/*.pt
